@import url(http://fonts.googleapis.com/css?family=Ubuntu);
body {
	background: black;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 13px;
}
img#main {
	max-height: 90%;
	margin: auto;
}
#prev {
	position: fixed;
	top: 50%;
	margin-top: -50px;
	left: 10px;
	width: 100px;
	height: 100px;
}
#next {
	position: fixed;
	top: 50%;
	margin-top: -50px;
	right: 10px;
	width: 100px;
	height: 100px;
}
a img {
	border: none;
}
a {
	color: white;
}
.exif {
	display: block;
	background: #000;
	position: absolute;
	bottom: 10%;
	left: 50%;
	width: 300px;
	margin-left: -150px;
	opacity: 0;
}
.exif table {
	width: 300px;
	color: white;
}
.exif table td {
	text-align: left;
	padding: 2px;
}
.exif table td:first-child {
	text-align: right;
}
#back {
	width: 200px;
	display: block;
	text-align: center;
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -100px;
}
.thumb {
	display: inline-block;
	text-decoration: none;
}
.thumb span {
	display: block;
	height: 18px;
	position: relative;
	top: -24px;
	background: #000;
	font-size: 10px;
	z-index: 200;
	padding: 2px;
	text-align: center;
	opacity: 0.5;
	text-decoration: none;
}
