@import url(http://fonts.googleapis.com/css?family=Ubuntu);
body {
	background: black;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 13px;
}
img#main {
	max-height: 90%;
	margin: auto;
}
#prev {
	position: fixed;
	top: 50%;
	margin-top: -50px;
	left: 10px;
}
#next {
	position: fixed;
	top: 50%;
	margin-top: -50px;
	right: 10px;
}
a img {
	border: none;
}
a {
	color: white;
}
.exif {
	color: #555;
	font-size: 11px;
}
