@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  src: local('Ubuntu'), url('Ubuntu.woff') format('woff');
}
body {
	background: black;
	color: white;
	font-family: 'Ubuntu', sans-serif;
}
a {
	color: white;
}
a img {
	border: none;
}
h1 {
	color: white;
	font-family: 'Ubuntu', sans-serif;
	margin-top: 5px;
	margin-bottom: 5px;
}
h1 small {
	font-size: 11px;
	font-weight: normal;
}
.poweredby {
	font-size: 10px;
	text-align: right;
	color: #555;
}
.poweredby a {
	color: #777;
}
img {
	width: 100px;
	height: 100px;
}
.thumb {
	display: inline-block;
	text-decoration: none;
	height: 100px;
	background: url(loading.gif);
	width: 100px;
	margin-bottom: 1px;
}
.thumb span {
	display: block;
	height: 30px;
	position: relative;
	top: -37px;
	background: #000;
	font-size: 10px;
	z-index: 200;
	padding: 2px;
	text-align: center;
	opacity: 0;
	text-decoration: none;
}
.thumb.dir span {
	opacity: 0.8;
}
p {
	margin: 5px 0;
}
